<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricegame"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ricegame"
        tools:targetApi="31">

        <!-- Kakao SDK Meta-data -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="585b6d5e5bb07269f2cba458d293fe8e" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1E_xbuktYHA4SDwgy28ZQXwmCy9L8Q78" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- Balance Game Activity -->
        <activity
            android:name=".BalanceGameActivity"
            android:exported="true" />

        <!-- Nearby Recommendation Activity -->
        <activity
            android:name=".NearbyRecommendationActivity"
            android:exported="true" />

        <!-- Random Recommendation Activity -->
        <activity
            android:name=".RandomRecommendationActivity"
            android:exported="true" />

        <!-- Search Restaurant Activity -->
        <activity
            android:name=".SearchRestaurantActivity"
            android:exported="true" />

        <!-- Favorites Activity -->
        <activity
            android:name=".FavoritesActivity"
            android:exported="true" />

    </application>
</manifest>
